@page "/"

<PageTitle>Index</PageTitle>

<TwoButtons OnClickCallback="SetEventInfo"></TwoButtons>

<p>@clickedButtonInfo</p>

@code{
    string? clickedButtonInfo;

    private void SetEventInfo(string buttonInfo)
    {
        clickedButtonInfo = $"Clicked button is:{buttonInfo}";
    }
}
